*{
    margin: 0;
    padding: 0;
}
html{
    display: flex;
    justify-content: center;
}
body{
    width: 100vw;
    height: auto;
    max-width: 1500px;
    overflow-x: hidden;
    z-index: 3 !important;
    background: #23242a !important;
    /* background: linear-gradient(90deg, rgb(13, 0, 29) 0%, rgb(0, 16, 20) 60%, rgb(30, 0, 10) 100%) !important; */
    /* color: wheat !important; */
}
